body {
    background-color:rgb(11,150, 150);
    margin: 0;
    font-family: arial;
}

header {
    background: turquoise;
    background-size: 100%;
    background-position: center;
    color: cyan;
    margin: 10px;
    padding: 120px;
    text-align: right;
}

header h1 {
    font-size: 210%;
    font-weight: 1;
    padding: 0px 20px 9px 0px;
    margin: 50px 0px 2px 0px;
    text-align: center;
    color: lightcyan;
    font-family: 'Roboto Mono', monospace;
    
}

#logo {
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 150px;
    position: relative;
    text-indent: -9999999px;
    width: 185px; 
}

header.showcase {
    background:url('../img/backgroundm.png') no-repeat 0 -100px;
    background-size: 100%;
    background-position: center;
    height: 250px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type:none; 
}

nav ul li {
    color: darkturquoise;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0 20px 0 0;
    text-transform: uppercase;
    
}
nav ul li a {
    color: black;
    text-decoration: none;
}

.features {
    margin-bottom: px;
    color:white;
    padding: 50px;
    display: flex;
    flex-direction: row;
    background: black;
}
.features figure {
    margin-right: 500px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: 200px;
}
.left {
    
}
.center {
    
}
.right {
    
}

.features img {
    display: block;
    border: 1px solid skyblue;
    border-radius: 50%;
    box-shadow: white 1px 0 0 1px;
    width: 300px;
    height: 210px;
}

h2 {
    color: lightblue;
    background: black;
    margin: 0.25px;
}
a {
    color: lightcyan;
    margin: 1px;
}
.White {
    padding-bottom: 10px;
    margin: 0px;
    background: rgb(90, 777, 777);
}
p {
    background: paleturquoise;
    border-radius: 100px;
    color: blue;
    padding: 10px 1px 1px 19px;
    margin: 5px;
    shape-inside: auto;
}

footer {
    background: black;
    color: grey;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}

.BodyMargins {
    margin-right: 500px;
    margin-left: 500px;
    border: 5px solid darkturquoise;
}





