body {
    background-color:whitesmoke;
    margin: 0;
    font-family: arial;
}

header {
    background: lightblue;
    background-image: url(img/.png);
    background-size: 100%;
    background-position: center;
    color: white;
    margin: 0px;
    padding: 20px;
    text-align: left;
}

header h1 {
    font-size: 300%;
    font-weight: 400;
    margin: 50px 10px 12px 5px;
}

#logo {
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 150px;
    position: relative;
    text-indent: -9999999px;
    top: -30p;
    width: 185px; 
}

#bgimage {
    background-size: 10%;
    background: lightblue;
    background-image: url(img/backgroundm.png);
    background-position: center;
    color: white;
    margin: 0px;
    padding: 20px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type:none; 
}

nav ul li {
    color: darkturquoise;
    display: inline-block;
    list-style-type: none;
    margin: 0 20px 0 0;
    text-transform: uppercase;
    
}
nav ul li a {
    color: black;
    text-decoration: none;
}


h2 {
    color: #444;
    background: white;
    margin: 10;
}
a {
    color: darkgoldenrod;
    margin: 0;
}
p {
    background: none;
    color: Black;
    padding: 10px 1px 1px 19px;
    margin: 5px;
}

.end {
    background: lightblue;
    color: Black;
    padding: 0px;
    margin: 0px;
}

