*
{
    padding: 0;
    margin: 0;
}
#loading {
    position: fixed;
	width: 100%;
	height: 100vh;
	background: white
	url('https://infolanka.lk/wp-content/themes/infolanka/assests/images/loading.gif')
	 no-repeat center center;	
	z-index: 99999;
}
#header 
{
    background-image: url(images/test-screen.jpg); 
    height: 80vh;
    background-size: cover;
    background-position: center;
    
}

.navbar-nav li a
{
    float: right;
    color: #fff!important;
    font-weight: bold;
}
.navbar-brand img
{
    width: 200px;
    margin-left: 15px;
}
.navbar-toggler
{
    border: none!important;
    outline: none !important;
}
nav .fa-bars
{
    color: #fff;
    font-size: 26px;
}



/*---------------------------TYPEWRITER--------------*/


/*---------------------------WELCOME--------------*/

.welcome
{
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 20px 7px rgb(0, 0, 0, 0.2);
}
.welcome h3
{
    color: darkblue
}
.welcome .home-btn
{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #013f7e;
}
.welcome .btn:focus
{
    box-shadow: none;
}
.welcome a{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
    font-family:sans-serif;

}
.welcome a:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
  text-decoration: none;
}
.welcome a span{
  position: absolute;
  display: block;
}
.welcome a span:nth-child(1)  {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);
}
.welcome a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.welcome a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}
.welcome a:hover span:nth-child(3) {
  left: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.welcome a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}
.welcome a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.welcome a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}
.welcome a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/*--------------------------ABOUT ME-------------------------------------*/

#projects
{
    padding-top: 100px;
   padding-bottom: 100px; 
}

#projects .col-md-4:hover
{
    background-color: #CBFEFB;
}

#projects .card-img-top
{
    height: 260px;
    width: 340px;
}


/*-----------------------GOALS----------------------------*/

#goals
{
    background-color: #F1FDFF;
    padding-top: 80px;
    padding-bottom: 80px; 
}

#goals .col-md-4
{
    padding: 20px;
}
#goals .col-md-4 h4
{
    padding: 5px;
}
#goals .col-md-4 img
{
    width: 100px;
}
#goals .col-md-4 p
{
    padding: 5px;
    text-align: justify;
}
 


/*-----------------------Foooter Section----------------------------*/

#footer
{
    margin-top: 80px;
    padding: 100px; 
    background-color: darkblue;
    color: #E9F9FC;
}
.footer-logo
{
    width: 100px;
}
#footer h1
{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}
#footer p
{
    font-size: 12px;
    text-align: left;
}

#footer .city
{
    margin-left: 37px;
}
#footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;
}
#footer .hr
{
    margin-top: 10px;
}
#footer .fa-heart-o
{
    color:red;
    font-size: 17px;
}
#footer a
{
    color: white;
}
#footer i:hover
{
    color: orange;
    outline-color: orange;
}

#footer .copyright
{
    margin-bottom: -80px;
    text-align: center; 
}


